html {
   scroll-behavior: smooth;
}
/* all body elements set to foreground(!= to background) color specidied*/
body {
   color: #161616;
}
a {
   color: #161616;
}
/* Selects all elements with class="visually-hidden" */
.visually-hidden {
   display: none;
}
.card-category {
   color: #D73953;
}
.section-tagline {
   color: #D73953;
}
