:root {
   --color-primary: #d73953;
   --color-black: #090909;
   --color-white: #ffffff;
   --color-light-grey: #f3f3f3;
   --color-dark-grey: #353535;
   --text-color: var(--color-black);
   /* creating a custom font-family property(variable) */
   /* syntax: first choice, second choice(fallback), third choice, last choice*/
   --font-family-base: Helvetica Neue, Helvetica, Arial, sans-serif;
   --font-family-title: Helvetica Neue, Helvetica, Arial, sans-serif
}
html {
   scroll-behavior: smooth;
}
body {
   color: var(--text-color);
   font-family: var(--font-family-base);
}
a {
   color: var(--text-color);
}
.visually-hidden {
   display: none;
}
.card-category {
   color: var(--color-primary);
}
.section-tagline {
   color: var(--color-primary);
}
/* all section headings will have the font specified  */
h {
   font-family: var(--font-family-title);
}
